.navbar-brand {
    padding: 10px;
}


.navbar-brand, .navbar-brand:visited {
    color: green;
}

.navbar-brand:hover {
    color: orange;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
} 



